@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css");
* {
  font-size: 14px;
  color: #000;
  letter-spacing: -0.5px;
  line-height: 1.6;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: "Exo 2", "Noto Sans KR", "Spoqa Han Sans Neo", sans-serif;
  line-height: 1.6;
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
  transition: all 0.2s ease;
  cursor: pointer;
}

button {
  background: none;
  border: none;
  outline: none;
}

img {
  border: 0;
  vertical-align: middle;
  max-width: 100%;
}

#wrap.fixed {
  padding-top: 90px;
}

#header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
}
#header.on {
  height: 300px;
  color: #f00;
  transition: all 0.5s ease;
  background-color: #fff;
}
#header .gnb {
  height: 90px;
  width: 100%;
}
#header .gnb .gnb_inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  padding: 0 72px 0 67px;
}
#header .gnb .info {
  position: relative;
  height: 100%;
}
#header .gnb .gnb_logo {
  z-index: 999;
  position: relative;
}
#header .gnb .gnb_logo h1 {
  display: flex;
  width: 231px;
  height: 100px;
}
#header .gnb .gnb_logo a {
  width: 100%;
  height: 100%;
  display: block;
  align-items: center;
  background-image: url("../img/layout/logo.jpg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
#header .gnb .gnb_main {
  display: block;
}
#header .gnb .gnb_main ul {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}
#header .gnb .gnb_main ul > li {
  position: relative;
  padding: 0 30px;
  cursor: pointer;
}
#header .gnb .gnb_main ul > li .main-menu {
  padding: 0 40px;
  text-align: center;
  align-items: center;
  display: flex;
  height: 90px;
  font-family: "Noto Sans KR";
  position: relative;
  font-size: 18px;
  font-weight: 500;
}
#header .gnb .gnb_main ul > li .main-menu:hover {
  color: #0a46d7;
}
#header .gnb .gnb_main ul > li .main-menu:after {
  position: absolute;
  display: block;
  content: "";
  bottom: 0;
  height: 2px;
  left: 50%;
  width: 0;
  background-color: #0a46d7;
  transition: 0.5s;
}
#header .gnb .gnb_main ul > li .main-menu.on:after {
  left: 0;
  width: 100%;
}
#header .gnb .gnb_main ul .depth02 {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 99;
  left: 0;
  height: 0;
  transition: height 0.5s ease;
  top: 0;
  overflow: hidden;
  width: 100%;
}
#header .gnb .gnb_main ul .depth02.on {
  height: 300px;
  position: absolute;
  transition: all 0.5s ease;
}
#header .gnb .gnb_util {
  align-items: center;
  display: flex;
  right: 0;
}
#header .gnb .gnb_util li {
  position: relative;
  font-size: 12px;
  font-weight: 500;
  color: #636363;
  padding: 0 11px;
}
#header .gnb .gnb_util li:last-child::before {
  content: none;
}
#header .gnb .gnb_util li::before {
  position: absolute;
  content: "";
  top: 50%;
  opacity: 0.2;
  width: 1px;
  height: 13px;
  right: 0;
  transform: translateY(-50%);
  background-color: #636363;
}
#header .gnb .gnb_util .all_menu {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
#header .gnb .gnb_util .all_menu img {
  max-width: 100%;
  vertical-align: middle;
}
#header .gnb.ban_fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #ddd;
}
#header .site-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: #fdfdfd;
  display: none;
  z-index: 999;
}
#header .site-container .close-btn {
  position: absolute;
  right: 72px;
  top: 36px;
  cursor: pointer;
  z-index: 99;
}
#header .site-inner {
  max-width: 1652px;
  margin: 0 auto;
  height: 100vh;
  padding: 0 15px;
}
#header .site-inner .txt-ban {
  position: absolute;
  bottom: 4px;
  left: 120px;
  font-size: 267.5px;
  letter-spacing: -13.38px;
  color: rgba(231, 233, 235, 0.2);
  line-height: 1;
  bottom: -26px;
  z-index: -5;
}
#header .site-cont {
  display: flex;
  width: 100%;
}
#header .site-box {
  width: 16.6%;
  padding-top: 100px;
  padding-left: 10px;
  border-left: 1px solid rgba(28, 28, 28, 0.06);
  opacity: 1;
  transition: opacity 0.4s;
  overflow: hidden;
  height: 100vh;
  white-space: normal;
}
#header .site-box.act .site-area {
  opacity: 1;
}
#header .site-box.act .site-area li {
  padding-left: 14px;
}
#header .site-box.act .main_tit:before {
  opacity: 1;
}
#header .site-box .depth01 {
  font-size: 24px;
  font-weight: 500;
  color: #1c1c1c;
  font-weight: bold;
}
#header .site-box .site-area {
  opacity: 0.4;
}
#header .site-box .site-area:hover {
  opacity: 1;
}
#header .site-box .site-area li {
  transition: 0.2s;
}
#header .site-box .site-area li:hover .main_tit::before,
#header .site-box .site-area li:hover .main_tit2::before {
  opacity: 1;
}
#header .site-box .site-area .main_tit,
#header .site-box .site-area .main_tit2 {
  font-size: 20px;
  font-weight: bold;
  color: #1c1c1c;
  margin-top: 35px;
  margin-bottom: 15px;
  position: relative;
  display: block;
  cursor: pointer;
}
#header .site-box .site-area .main_tit a,
#header .site-box .site-area .main_tit2 a {
  display: block;
  font-size: 20px;
}
#header .site-box .site-area .main_tit:before,
#header .site-box .site-area .main_tit2:before {
  position: absolute;
  content: "";
  opacity: 0;
  transition: 0.2s;
  top: 4px;
  left: -24px;
  height: 24px;
  width: 5px;
}
#header .site-box .site-area .main_tit2 {
  margin-bottom: 8px;
  margin-top: 0;
}
#header .site-box .site-area .sub_tit a {
  display: block;
  margin-bottom: 9px;
  font-size: 15px;
}
#footer {
  position: relative;
  font-family: "NanumSquare";
  background: #fff2d9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#footer .bar {
  display: inline-block;
  width: 1px;
  height: 10px;
  margin: 7px 5px;
  background-color: #bbb;
  vertical-align: top;
}
#footer .footer-wrap {
  padding: 0;
}
#footer .footer-wrap .info {
  font-size: 14px;
  font-weight: 600;
}
#footer .footer-wrap .info p {
  color: rgba(0, 0, 0, 0.7);
}
#footer .footer-wrap .logo {
  margin: 0 auto;
  width: 25%;
}
#footer .footer-wrap .sns {
  width: 33%;
  margin: 0 auto;
}
#footer .footer-wrap .sns ul {
  display: flex;
  justify-content: center;
}
#footer .footer-wrap .sns ul li {
  opacity: 0.3;
  transition: 0.3s;
  padding: 0 10px;
}
#footer .footer-wrap .sns ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}
#footer .footer-wrap .sns ul li:hover {
  opacity: 0.8;
}
#footer .footer-wrap .menu ul {
  position: relative;
  bottom: 20px;
  display: flex;
  justify-content: center;
}
#footer .footer-wrap .menu ul li {
  position: relative;
  font-size: 14px;
  margin-right: 16px;
}
#footer .footer-wrap .menu ul li::before {
  position: absolute;
  content: "";
  top: 50%;
  opacity: 0.2;
  width: 1px;
  height: 13px;
  right: 0;
  transform: translateY(-50%);
  background-color: #636363;
}
#footer .footer-wrap .menu ul li:last-child:before {
  display: none;
}
#footer .footer-wrap .cs-center {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.3;
}
#footer .footer-wrap .cs-center .cs-box {
  display: flex;
  align-items: baseline;
}
#footer .footer-wrap .cs-center .cs-box span {
  color: rgba(0, 0, 0, 0.7);
}
#footer .footer-wrap .cs-center .cs_tit {
  padding: 10px;
}
#footer .f-main {
  padding-bottom: 80px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
#footer .f-main > div {
  width: 33%;
}
#footer .f-main > div.info {
  width: 33%;
}
#footer .f-main .cs-center .number {
  font-size: 50px;
  font-weight: 600;
}
#footer .copyright {
  width: 100%;
  display: block;
  height: 39px;
  line-height: 39px;
  background: #0a46d7;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.8);
}

.dis-no {
  display: none !important;
}

@media all and (min-width: 1280px) {
  .gnb .center > ul > li:hover .menuitem:after {
    opacity: 1;
    transition: opacity 0.5s;
  }
}
@media all and (max-width: 1440px) {
  header .gnb .gnb_inner {
    padding: 0 15px 0;
  }
  header .gnb .gnb_inner .center > ul > li {
    padding-right: 30px;
  }
  header .gnb .gnb_inner .center > ul > li a {
    font-size: 14px;
  }
  header .gnb .gnb_inner .center > ul .submenu_wrap .submenu_box .submenu_list .sub_tit .main_tit a {
    font-size: 16px;
  }
  header .gnb .gnb_inner .right {
    width: 300px;
  }
  header .gnb .gnb_inner .right .log_menu li {
    padding: 0 10px;
    line-height: 19px;
  }
  header .gnb .gnb_inner .right .log_menu li:before {
    right: -1px;
  }
  header .site-container .close-btn {
    right: 22px;
  }
  header .site-box {
    padding-top: 80px;
  }
  header .site-box .depth01 {
    font-size: 22px;
  }
  header .site-box .site-area .main_tit,
  header .site-box .site-area .main_tit2 {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  header .site-box .site-area .main_tit a,
  header .site-box .site-area .main_tit2 a {
    font-size: 16px;
  }
  header .site-box .site-area .main_tit2 {
    margin-bottom: 8px;
    margin-top: 0;
  }
  header .site-box .site-area .sub_tit a {
    font-size: 13px;
  }
}
@media all and (max-width: 1366px) {
  header .site-inner .txt-ban {
    font-size: 190px;
  }
  header .site-box .depth01 {
    font-size: 17px;
  }
  #footer .f-main .sns ul li {
    margin-right: 8px;
  }
  #footer .f-main .sns ul li a {
    width: 60px;
    height: 60px;
    line-height: 58px;
  }
  #footer .f-main .family .family_site {
    height: 60px;
    line-height: 58px;
  }
  #footer .f-main .family .family_site span {
    line-height: 58px;
  }
}
@media all and (max-width: 1280px) {
  header .gnb .center ul li {
    display: none;
  }
}
@media all and (max-width: 1000px) {
  #footer .f-main {
    flex-direction: column;
    align-items: center;
  }
  #footer .f-main > div,
  #footer .f-main > div.f-info {
    width: auto;
  }
  #footer .f-main .f-info {
    margin: 40px 0;
  }
  #footer .f-main .menu_li ul li {
    display: block;
  }
}
@media all and (max-width: 989px) {
  header .gnb .right .log_menu li {
    display: none;
  }
  #footer .f-main {
    padding: 45px 0 40px;
  }
}
@media all and (max-width: 768px) {
  header .gnb .gnb_inner {
    height: 61px;
  }
  header .gnb .gnb_inner .left a img {
    width: 80%;
  }
  header .gnb .gnb_inner .right {
    width: 20px;
  }
  header .gnb .gnb_inner .right .all_menu {
    width: 20px;
  }
  #footer .f-top {
    padding-top: 52px;
  }
  #footer .f-top .sns {
    margin: 70px auto 25px;
  }
  #footer .f-top .sns ul {
    font-size: 0;
    display: flex;
    justify-content: center;
  }
  #footer .f-top .sns ul li {
    margin-right: 9px;
    border-radius: 9px;
  }
  #footer .f-top .sns ul li a {
    width: 51px;
    height: 51px;
    line-height: 49px;
  }
  #footer .f-top .family {
    text-align: center;
  }
  #footer .f-top .family .family_site {
    margin: 0 auto 35px;
    width: 327px;
    height: 52px;
    line-height: 50px;
    border-radius: 9px;
    background-color: rgb(8, 17, 31);
    border: 0;
  }
  #footer .f-top .family .family_site span {
    line-height: 50px;
    font-size: 14px;
    padding: 0 20px;
  }
  #footer .f-top .family .family_site.on {
    border-radius: 0 0 18px 18px;
  }
  #footer .f-top .family .family_site .family_menu {
    top: auto;
    bottom: 52px;
  }
  #footer .f-top .family .family_site .family_menu ul {
    border-radius: 18px 18px 0 0;
  }
  #footer .f-info .f_logo {
    display: block;
    text-align: center;
  }
  #footer .f-info img {
    width: 189px;
  }
  #footer .f-info .m_menu_li {
    margin-top: 45px;
    text-align: center;
  }
  #footer .f-info .m_menu_li .address {
    font-size: 14px;
    color: #fff;
    opacity: 0.4;
    line-height: 1.6;
  }
  #footer .f-submenu {
    border-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #footer .f-submenu ul li {
    line-height: 1;
    padding: 0 7px;
  }
  #footer .f-submenu ul li a {
    font-size: 12px;
    font-weight: 300;
  }
  #footer .f-bt {
    font-size: 12px;
  }
}
@media all and (max-width: 545px) {
  header .ham-menu .login-btn {
    top: 19px;
  }
  header .ham-menu .h-util {
    height: 85px;
  }
  header .ham-menu .h-util .tit_txt {
    font-size: 16px;
  }
  header .ham-menu .h-menuwrap {
    height: calc(100vh - 85px);
  }
  header .ham-menu .h-menuwrap .h-mainmenu {
    padding: 15px 20px 20px;
  }
  header .ham-menu .h-menuwrap .h-menulist .depth01 {
    margin-bottom: 20px;
  }
  header .ham-menu .h-menuwrap .h-menulist .depth01 .depth01_link,
  header .ham-menu .h-menuwrap .h-menulist .depth01 .depth01_tit {
    font-size: 15px;
  }
}