.header_top {
  border-top: 1px solid rgba(13, 13, 13, 0.05);
}

.gap {
  position: relative;
  padding: 0 15px;
}

.introduce {
  padding: 100px 0 0;
}
.introduce .txt_wrap {
  text-align: center;
  position: relative;
}
.introduce .txt_wrap .txt_tit {
  font-size: 52px;
  letter-spacing: -2.6px;
  color: #000;
  line-height: 1.35;
  padding: 22px 0 38px;
}
.introduce .section07 {
  padding-bottom: 279px;
  text-align: center;
}
.introduce .m_section07 {
  background-image: url("../images/brand/about_mo05.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  margin-top: 20px;
  padding: 85px 0 50px;
}
.introduce .m_section07 .txt_wrap {
  padding-top: 74px;
  padding-bottom: 119px;
}
.introduce .m_section07 .bath_img {
  position: relative;
}
.introduce .m_section07 .bath_img .m_bath01 {
  position: absolute;
  top: -39px;
  left: 132px;
  z-index: 3;
  width: 107px;
}
.introduce .m_section07 .bath_img .m_bath02 {
  width: 173px;
}
.introduce .m_section07 .bath_img.bot {
  text-align: right;
  padding-right: 44px;
}
.introduce .m_section07 .bath_img.bot .m_bath03 {
  width: 107px;
  position: absolute;
  bottom: 113px;
  right: 0;
  z-index: 3;
}
.introduce .m_section07 .bath_img.bot .m_bath04 {
  width: 199px;
}
.introduce .m_section07 .tit_txt .d_idx {
  position: relative;
  font-size: 15px;
  font-weight: 300;
  color: #fff;
  display: inline-block;
  padding-left: 168px;
}
.introduce .m_section07 .tit_txt .d_idx:before {
  position: absolute;
  content: "";
  height: 1px;
  width: 128px;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
}
.introduce .m_section07 .txt_main {
  padding-bottom: 0;
}

.product .section01 {
  position: relative;
  z-index: 99;
  overflow: hidden;
}
.product .section01 .txt_wrap {
  padding-bottom: 94px;
  text-align: left;
  transition: all 1.5s cubic-bezier(0, 0.72, 0.44, 0.99);
}
.product .section01 .txt_wrap .main_txt {
  line-height: 1.3;
  transition: all 1.5s cubic-bezier(0, 0.72, 0.44, 0.99);
}
.product .section01 .txt_wrap .sub_txt {
  font-size: 22px;
  display: inline-block;
  transition: all 1.5s cubic-bezier(0, 0.72, 0.44, 0.99);
}
.product .section01 .txt_wrap .d_idx {
  position: relative;
  font-size: 15px;
  font-weight: 300;
  color: rgb(11, 11, 11);
  display: inline-block;
  padding-left: 168px;
}
.product .section01 .txt_wrap .d_idx:before {
  position: absolute;
  content: "";
  height: 1px;
  width: 128px;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(13, 13, 13, 0.5);
}

.sub_page {
  position: relative;
  max-width: 1594px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.main_txt {
  font-size: 57px;
  font-weight: 500;
  letter-spacing: -3.6px;
  color: rgb(11, 11, 11);
  line-height: 1;
  padding: 22px 0 33px;
}

.interact_txt {
  position: absolute;
  bottom: -22px;
  right: 0;
  font-size: 220px;
  letter-spacing: -13.38px;
  color: rgba(231, 233, 235, 0.6);
  line-height: 1;
  white-space: nowrap;
  opacity: 0;
}

.interact_txt.img-aniload {
  opacity: 1;
}

.brand .txt_box {
  margin-bottom: 60px;
}
.brand .txt_box .since {
  color: rgba(0, 0, 0, 0.7);
  font-size: 14px;
}
.brand .txt_box .since_ch {
  color: #787878;
  font-size: 20px;
  vertical-align: super;
}
.brand .txt_box .since_txt {
  font-size: 36px;
  font-weight: 500;
  color: #000;
  letter-spacing: -1.8px;
}
.brand .section02 {
  position: relative;
  height: 750px;
  background-image: url("../images/brand/about_bg.png");
  background-repeat: no-repeat;
  background-position: center;
}
.brand .section02 .since {
  color: rgba(0, 0, 0, 0.7);
}
.brand .section02 .sub_page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  max-width: 1484px;
}
.brand .section02 .brand_tit {
  font-size: 55px;
  font-weight: 500;
  margin-bottom: 29px;
  color: #fff;
  letter-spacing: -1.5px;
  font-family: "Noto Sans KR";
}
.brand .section02 .brand_txt {
  font-size: 22px;
  color: #fff;
  letter-spacing: -1.1px;
  line-height: 1.77;
}
.brand .section03 {
  text-align: center;
  margin-top: 127px;
}
.brand .section03 .txt_box {
  margin-bottom: 60px;
}
.brand .section03 .txt_box .since {
  color: rgba(0, 0, 0, 0.7);
  font-size: 14px;
}
.brand .section03 .txt_box .since_ch {
  color: #787878;
  font-size: 20px;
  vertical-align: super;
}
.brand .section03 .txt_box .since_txt {
  font-size: 36px;
  font-weight: 500;
  color: #000;
  letter-spacing: -1.8px;
}
.brand .section03 .cont_box {
  display: flex;
  align-items: center;
}
.brand .section03 .cont_box .cont_img {
  position: relative;
}
.brand .section03 .cont_box .cont_txt {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: -3%;
  flex-wrap: nowrap;
}
.brand .section03 .cont_box .cont_txt ul {
  display: flex;
  justify-content: center;
  gap: 130px;
  flex-wrap: nowrap;
}
.brand .section03 .cont_box .cont_txt li {
  position: relative;
}
.brand .section03 .cont_box .cont_txt li:after {
  position: absolute;
  content: "";
  display: block;
  width: 1px;
  height: 136px;
  right: -65px;
  top: 53px;
  height: 82%;
  background-color: rgba(32, 157, 203, 0.2);
}
.brand .section03 .cont_box .cont_txt li:last-child:after {
  display: none;
}
.brand .section03 .cont_box .cont_txt .txt_ch {
  font-size: 136px;
  font-weight: 300;
  color: #fff;
}
.brand .section03 .cont_box .cont_txt .txt_meaning {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.brand .section03 .cont_box .cont_txt .txt_meaning .txt_ko {
  background-color: #326aff;
  width: 72px;
  height: 35px;
  border-radius: 17px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 15px;
  line-height: 35px;
}
.brand .section03 .cont_box .cont_txt .txt_meaning .text {
  font-size: 22px;
  font-weight: 500;
  color: #fff;
}
.brand .section04 {
  position: relative;
  padding: 116px 0;
}
.brand .section04:before {
  position: absolute;
  content: "";
  display: block;
  left: 50%;
  top: 33px;
  width: 1px;
  height: 49px;
  background-color: rgba(13, 13, 13, 0.2);
}
.brand .section04 .sec04_cont {
  position: relative;
  text-align: center;
}
.brand .section04 .sec04_cont img {
  max-width: 454px;
  width: 100%;
}
.brand .section04 .sec04_txt {
  font-size: 30px;
  font-weight: 500;
  color: #000;
  text-align: left;
  position: absolute;
  left: 50%;
  bottom: 13%;
  line-height: 1.6;
}
.brand .section04:after {
  position: absolute;
  content: "DAELIMBATH";
  font-size: 267.5px;
  line-height: 1px;
  letter-spacing: -13.38px;
  color: rgba(0, 0, 0, 0.05);
  display: inline-block;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -5;
  transition: 0.8s;
}
.brand .section05 {
  background-image: url("../images/brand/about_bg03.png");
  background-repeat: no-repeat;
  background-position: center;
}
.brand .section05 .since {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
}
.brand .section05 .global_tit {
  font-size: 36px;
  color: #fff;
  font-weight: 500;
  line-height: 1.3;
  margin-top: 5px;
  margin-bottom: 20px;
  font-weight: bold;
}
.brand .section05 .global_txt {
  font-size: 20px;
  color: #fff;
}
.brand .section06 {
  background: none;
  padding: 122px 0 217px;
}
.brand .section06 .sub_page {
  display: block;
  max-width: 1594px;
}
.brand .section06 .contents_box {
  text-align: left;
  display: flex;
  align-items: end;
  gap: 68px;
  flex-wrap: nowrap;
}
.brand .section06 .contents_box .global_tit {
  color: #000;
  font-size: 41px;
  font-weight: 600;
  letter-spacing: -0.41px;
  line-height: 1.3;
}
.brand .section06 .contents_box .global_txt {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.8);
  margin-top: 15px;
  margin-bottom: 60px;
  word-break: keep-all;
}
.brand .section06 .contents_box .as_cont ul {
  display: flex;
  gap: 13px;
}
.brand .section06 .contents_box .as_cont ul li {
  position: relative;
  max-width: 220px;
}
.brand .section06 .contents_box .as_cont ul li span {
  text-align: center;
  color: #000;
  font-size: 15px;
  display: block;
  position: absolute;
  width: 100%;
  bottom: 32px;
  line-height: 1.3;
  left: 50%;
  transform: translateX(-50%);
}
.brand .section06 .txt_wrap {
  padding-bottom: 60px;
  text-align: center;
  position: relative;
}
.brand .section07 {
  padding-top: 0;
  overflow: hidden;
}
.brand .section07 .sub_page {
  max-width: 1603px;
  position: relative;
}
.brand .section07 .txt_wrap {
  padding-bottom: 30px;
  font-size: 36px;
  font-weight: 500;
}
.brand .section07 .txt_wrap .txt_tit {
  font-size: 36px;
  font-weight: 500;
}
.brand .section07 .bath_img {
  position: relative;
}
.brand .section07 .bath_img.move:before {
  left: 0;
}
.brand .section07 .bath_img.move:after {
  right: 0;
}
.brand .section07 .bath_img:before {
  position: absolute;
  content: "BATH";
  left: -10%;
  font-size: 267.5px;
  line-height: 1px;
  display: inline-block;
  letter-spacing: -13.38px;
  color: rgba(0, 0, 0, 0.05);
  top: 145px;
  z-index: -5;
  transition: 0.8s;
}
.brand .section07 .bath_img .img_ab {
  position: absolute;
}
.brand .section07 .bath_img .bath02 {
  left: 61px;
  top: 278px;
}
.brand .section07 .bath_img .bath03 {
  right: 57px;
  top: 77px;
}
.brand .section07 .bath_img .bath04 {
  right: 322px;
  top: 290px;
}
.brand .section07 .bath_img .bath05 {
  left: 203px;
  bottom: -96px;
}
.brand .section07 .bath_img:after {
  position: absolute;
  content: "ROOM";
  right: -10%;
  font-size: 267.5px;
  line-height: 1px;
  display: inline-block;
  letter-spacing: -13.38px;
  color: rgba(0, 0, 0, 0.05);
  transition: 0.8s;
  z-index: -5;
  bottom: 36px;
}

.m_section07 .inner_page {
  max-width: 390px;
  margin: 0 auto;
  padding: 0 15px;
}