@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css");
* {
  font-size: 14px;
  color: #000;
  letter-spacing: -0.5px;
  line-height: 1.6;
  box-sizing: border-box;
  outline: none;
}
body {
  font-family: "Exo 2", "Noto Sans KR", "Spoqa Han Sans Neo", sans-serif;
  line-height: 1.6;
  &.non-scroll {
    overflow: hidden;
  }
}
a,
a:hover {
  text-decoration: none;
  color: inherit;
  transition: all 0.2s ease;
  cursor: pointer;
}
button {
  background: none;
  border: none;
  outline: none;
}
img {
  border: 0;
  vertical-align: middle;
  max-width: 100%;
}
#header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  &.on {
    height: 300px;
    transition: all 0.3s ease;
    background-color: #fff;
    border-radius: 0 0 40px 40px;
    .gnb {
      border-bottom: 1px solid #ddd;
    }
  }
  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #ddd;
  }
  .gnb {
    height: 90px;
    width: 100%;
    .gnb_inner {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 90px;
      padding: 0 72px 0 67px;
    }
    .info {
      position: relative;
      height: 100%;
    }
    .gnb_logo {
      z-index: 999;
      position: relative;
      h1 {
        display: flex;
        width: 231px;
        height: 90px;
      }
      a {
        width: 100%;
        height: 100%;
        display: block;
        align-items: center;
        background: {
          image: url("../img/layout/logo.jpg");
          position: 50% 50%;
          size: cover;
          repeat: no-repeat;
        }
      }
    }
    .gnb_main {
      display: block;
      ul {
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
        > li {
          position: relative;
          padding: 0 30px;
          cursor: pointer;
          .main-menu {
            padding: 0 40px;
            text-align: center;
            align-items: center;
            display: flex;
            height: 90px;
            font-family: "Noto Sans KR";
            position: relative;
            font-size: 18px;
            font-weight: 500;
            &:hover {
              color: #0a46d7;
            }
            &:after {
              position: absolute;
              display: block;
              content: "";
              bottom: 0;
              height: 2px;
              left: 50%;
              width: 0;
              background-color: #0a46d7;
              transition: 0.5s;
            }
            &.on {
              &:after {
                left: 0;
                width: 100%;
              }
            }
          }
        }
        .depth02 {
          margin: 20px 0;
          display: flex;
          justify-content: start;
          flex-direction: column;
          position: absolute;
          z-index: 99;
          left: 0;
          height: 0;
          top: 90px;
          overflow: hidden;
          width: 100%;
          &.on {
            height: 150px;
            position: absolute;
            transition: all 0.5s ease;
          }
          li {
            padding: 5px 30px;
            font-size: 16px;
            &:hover {
              color: #0a46d7;
            }
          }
        }
      }
    }
    .gnb_util {
      display: block;
      ul {
        align-items: center;
        display: flex;
        .login {
          color: #000;
          font-size: 14px;
          font-weight: 500;
        }
        .partner {
          margin-right: 20px;
          border: 1px solid #ddd;
          background-color: #0a46d7;
          border-radius: 30px;
          color: #fff;
          position: relative;
          font-size: 16px;
          font-weight: 500;
          padding: 10px 26px;
          &::before {
            position: absolute;
            content: "";
            top: 50%;
            opacity: 0.2;
            width: 1px;
            height: 13px;
            right: 0;
            transform: translateY(-50%);
            background-color: #636363;
          }
        }
      }
    }
  }
  .all_menu {
    display: none;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9999;
    width: 25px;
    height: 25px;
    cursor: pointer;
    img {
      max-width: 100%;
      vertical-align: middle;
    }
  }
  .mobile-menu {
    position: fixed;
    top: 0;
    right: -350px;
    width: 350px;
    height: 100vh;
    background-color: #fff;
    transition: all 0.3s ease;
    z-index: 9999;
    &.open {
      right: 0;
      .mobile-bg {
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
      }
    }
    a {
      margin: 0 20px;
    }
    .mobile-wrap {
      position: absolute;
      width: 350px;
      right: 0;
      height: 100%;
      z-index: 99999;
      background: #fff;
      .btn-close {
        position: absolute;
        top: 40px;
        transform: translateY(-50%);
        right: 40px;
        z-index: 99;
        width: 20px;
        height: 20px;
      }
    }
    .login-space {
      position: relative;
      padding: 90px 20px 20px;
      display: flex;
      align-items: center;
      > div {
        position: relative;
        color: #000;
        &:after {
          display: inline-block;
          position: absolute;
          content: "";
          height: 16px;
          width: 1px;
          top: 6px;
          background: #636363;
          transform: rotate(0.04deg);
        }
        &:last-child {
          &:after {
            display: none;
          }
        }
      }
    }
    .mobile-menulist {
      padding: 20px;
      position: relative;
      .depth01 {
        position: relative;
        padding-bottom: 10px;
      }
      .main-menu {
        font-size: 24px;
        font-weight: 500;
        color: #333;
        &:before {
          cursor: pointer;
          content: "";
          width: 20px;
          height: 20px;
          right: 16px;
          margin-top: 10px;
          top: 0;
          display: block;
          position: absolute;
          background: url("../img/layout/down-arrow.png") no-repeat 50% 50% / 100%;
        }
        &.on {
          color: #0a46d7;
        }
      }
      .depth02 {
        display: none;
        padding: 10px 0 0 10px;
        li {
          padding: 3px 0;
        }
      }
    }
  }
}
#footer {
  position: relative;
  font-family: "Noto Sans KR";
  background: #fff2d9;
  .footer-wrap {
    .info {
      // width: 33%;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.8;
      color: #333;
      p {
        color: #333;
      }
      ul {
        display: flex;
        flex-wrap: wrap;
        li {
          position: relative;
          margin-right: 10px;
        }
      }
    }
    .logo {
      width: 231px;
      margin-left: -20px;
    }
    .sns {
      padding: 30px 0;
      ul {
        display: flex;
        li {
          opacity: 0.3;
          transition: 0.3s;
          margin-right: 20px;
          a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 35px;
            height: 35px;
          }
          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
    .cs-center {
      .cs-box {
        line-height: 1.7;
        font-weight: 500;
        > div {
          color: #333;
        }
      }
      .number {
        font-size: 24px;
        letter-spacing: 0;
      }
    }
  }
  .f-main {
    padding: 10px 0 30px;
    display: flex;
    justify-content: space-evenly;
    .f-left {
      width: 60%;
    }
    .f-right {
      display: flex;
      flex-direction: column;
      font-size: 14px;
      font-weight: 600;
      line-height: 1.3;
      padding-top: 30px;
    }
  }
  .menu {
    position: relative;
    padding: 10px 0;
    margin-top: -10px;
    ul {
      display: flex;
      li {
        position: relative;
        font-size: 14px;
        margin-right: 16px;
        font-weight: 700;
        // &::before {
        //   position: absolute;
        //   content: "";
        //   top: 50%;
        //   opacity: 0.2;
        //   width: 1px;
        //   height: 13px;
        //   right: 0;
        //   // transform: translateY(-50%);
        //   background-color: #636363;
        // }
        // &:last-child {
        //   &:before {
        //     display: none;
        //   }
        // }
      }
    }
  }
  .copyright {
    width: 100%;
    display: block;
    height: 39px;
    line-height: 39px;
    background: #0a46d7;
    text-align: center;
    p {
      font-size: 14px;
      font-weight: 500;
      color: rgba(255, 255, 255, 0.8);
    }
  }
}

@media all and (max-width: 1440px) {
  #header {
    .gnb {
      .gnb_inner {
        padding: 0 15px 0;
        .gnb_main {
          > ul {
            > li {
              padding: 0 30px 0;
              a {
                font-size: 14px;
              }
              .main-menu {
                font-size: 16px;
                padding: 0 30px;
              }
            }
          }
        }
      }
      .gnb_util ul .partner {
        font-size: 14px;
        padding: 10px 20px;
      }
    }
    .site-container .close-btn {
      right: 22px;
    }
    .site-box {
      padding-top: 80px;
      .depth01 {
        font-size: 22px;
      }
      .site-area {
        .main_tit,
        .main_tit2 {
          font-size: 16px;
          margin-top: 20px;
          margin-bottom: 10px;
          a {
            font-size: 16px;
          }
        }
        .main_tit2 {
          margin-bottom: 8px;
          margin-top: 0;
        }
        .sub_tit a {
          font-size: 13px;
        }
      }
    }
  }
  #footer {
    .footer-wrap {
      .sns {
        padding: 20px 0;
        ul li {
          margin-right: 15px;
        }
      }
    }
  }
}
@media all and (max-width: 1280px) {
  //1280보다 작아졌을때 어떤 css 쓸건지 적용
  #header .gnb {
    height: 70px;
    .gnb_logo h1 {
      width: 180px;
      height: 70px;
    }
    .gnb_inner {
      height: 70px;
      .gnb_main > ul > li {
        padding: 0 10px;
        .main-menu {
          height: 70px;
        }
      }
    }
    .gnb_main ul .depth02 {
      top: 70px;
      li {
        padding: 5px 10px;
      }
    }
  }
  #footer {
    .footer-wrap {
      .sns ul li {
        a {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}
@media all and (max-width: 1000px) {
  #header .gnb {
    .all_menu {
      display: block;
    }
  }
  #header .gnb .gnb_main,
  #header .gnb .gnb_util {
    display: none;
  }
  #header .mobile-menu .mobile-wrap .btn-close {
    top: 35px;
    right: 38px;
  }
}
@media all and (max-width: 989px) {
  // 여기다가 989px보다 작아졌을때 어떤 css 쓸건지 적용
  #footer {
    .footer-wrap {
      .info {
        padding-right: 50px;
      }
    }
    .f-main {
      flex-direction: column;
      align-items: center;
      padding: 45px 0 40px;
      .f-left {
        width: auto;
      }
      .f-right {
        width: 100%;
        padding-top: 10px;
      }
    }
  }
}
@media all and (max-width: 768px) {
  #footer {
    .footer-wrap {
      padding: 0 40px;
      .info {
        padding: 0;
        font-size: 13px;
      }
      .sns {
        padding: 10px 0;
      }
      .cs-center {
        .cs-box {
          font-size: 13px;
        }
        .number {
          font-size: 22px;
        }
      }
    }
    .menu ul li {
      font-size: 13px;
      font-weight: 600;
    }
  }
}
@media all and (max-width: 545px) {
  #footer {
    .footer-wrap {
      .info {
        padding-right: 40px;
      }
      .cs-center {
        .cs-box {
          line-height: 1.6;
        }
      }
    }
    .menu ul li {
      font-size: 12px;
    }
  }
}
