//디자인 가이드
body {
  overflow-x: hidden;
}
.mu {
  position: relative;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 60px;
}
.container {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
  .cont-txt {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  .act {
    transform: translate(0, 0);
    opacity: 1;
  }
  .up {
    transform: translate(0, 100px);
    transition: all 1.5s cubic-bezier(0, 0.72, 0.44, 0.99);
    opacity: 0;
  }
  .txt_wrap > span {
    color: #fff;
    display: block;
    word-break: keep-all;
  }
  .txt_cont {
    text-align: center;
  }
  .view_btn {
    width: 250px;
    padding-top: 40px;
    a {
      display: flex;
      color: #333;
      width: 250px;
      padding: 15px 40px;
      justify-content: flex-start;
      align-items: center;
      border: 2px solid #333;
      &:before {
        position: absolute;
        content: "";
        display: block;
        padding: 10px 90px;
        background: url(../img/layout/arrow_.png) no-repeat right / 50%;
        opacity: 0.8;
      }
      &:hover {
        background: #0047b8;
        color: #fff;
        border: 2px solid #0047b8;
        &:before {
          filter: invert(100%);
          opacity: 1;
        }
      }
    }
  }
  .section01 {
    position: relative;
    overflow: hidden;
    .swiper-slide-active {
      .txt-wrap {
        transform: translate(0, 0px);
        // padding: 0 15px;
        opacity: 1;
      }
    }
    .swiper-slide {
      position: relative;
      min-width: 1690px;
      overflow: hidden;
      a {
        position: relative;
        display: flex;
        width: 100%;
        height: 100%;
      }
    }
    .txt-wrap {
      z-index: 1;
      position: absolute;
      bottom: 10%;
      padding: 0 120px 360px;
      transform: translate(0, 60px);
      transition: all 1.5s cubic-bezier(0, 0.72, 0.44, 0.99);
      opacity: 0;
      > span {
        // text-align: center;
        color: #333;
        display: block;
        word-break: keep-all;
      }
      .sub_tit {
        font-size: 18px;
        letter-spacing: -0.9px;
      }
      .main_tit {
        font-size: 60px;
        font-weight: 600;
        letter-spacing: -3.6px;
        // margin: 50px 0 56px;
      }
      .main_cont {
        font-weight: 500;
        font-size: 40px;
        line-height: 1.6;
      }
    }

    .slidebox {
      height: 100vh;
      position: relative;
      display: flex;
    }
    .visual-box {
      position: relative;
      &._01 {
        background: url("../img/main/1_4.png") no-repeat 50% 50% / cover;
      }
      &._02 {
        background: url("../img/main/102_2.png") no-repeat 50% 50% / cover;
      }
      &._03 {
        background: url("../img/main/290050767_745717463296197_6948282066110344453_n.jpg") no-repeat left 40% / 100%;
      }
      &._04 {
        background: url("../img/main/4_1.png") no-repeat left 40% / 100%;
      }
    }
    .swiper-pagination {
      opacity: 1;
      display: flex;
      justify-content: center;
      bottom: 30px;
    }
    .swiper-pagination-bullet-active {
      width: 20px;
      border-radius: 20px;
      background: rgba(0, 0, 0, 0.5);
    }
  }
  .section02 {
    padding: 100px 0;
    position: relative;
    width: 100%;
    overflow: hidden;
    &:before {
      font-family: "Noto Sans KR";
      content: "Nuldam";
      position: absolute;
      display: block;
      bottom: 360px;
      font-weight: 500;
      color: #d7d7d7;
      font-size: 160px;
      line-height: 0;
      right: -230px;
      transform: rotate(270deg);
    }
    .menu-container {
      padding: 0;
    }
    .tit-box {
      display: flex;
      align-items: baseline;
      padding: 30px 60px;
      .menu-tit {
        font-size: 45px;
        font-weight: 600;
        text-align: left;
      }
      .menu-cate {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 80px;
        ul {
          display: flex;
          padding: 10px 0;
          li {
            position: relative;
            display: flex;
            justify-content: center;
            cursor: pointer;
            padding: 10px;
            color: #777;
            margin-right: 20px;
          }
          .on {
            color: #0047b8;
            font-weight: 500;
            &:before {
              content: "";
              display: flex;
              position: absolute;
              justify-content: center;
              bottom: 3px;
              height: 2px;
              width: 100px;
              max-width: 90%;
              margin-left: 1px;
              background-color: #0047b8;
            }
          }
        }
      }
      .view_all {
        display: flex;
        align-items: center;
        margin-left: auto;
        padding: 10px 40px;
        color: #777;
        border: 1px solid #777;
        border-radius: 30px;
        &:hover {
          background-color: #f1f3f5;
          color: #333;
          font-weight: 500;
        }
      }
    }
    span {
      color: #333;
      display: block;
      word-break: keep-all;
    }
    .swiper-slide {
      position: relative;
      min-width: 1400px;
      width: 100%;
      overflow: hidden;
      a {
        position: relative;
        display: block;
      }
      .menu-list {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding: 0 70px;
        li {
          width: 25%;
          padding: 10px;
          img {
            border-radius: 20px;
          }
        }
      }
    }
    .contents-txt {
      position: relative;
      display: inline-block;
      margin-top: 30px;
      .cont-tit {
        font-size: 18px;
        font-weight: 600;
        color: #2b2b2b;
        padding: 0;
        line-height: 1.4;
      }
      .cont-price {
        font-size: 24px;
        color: #000;
        font-weight: 700;
        padding: 3px 0;
      }
      .cont-exp {
        font-size: 16px;
        color: #7b7b7b;
        font-weight: 400;
        padding: 5px 0;
      }
    }
    .swiper-button-prev {
      left: 100px;
    }
    .swiper-button-next {
      right: 100px;
    }
  }
  .section03 {
    position: relative;
    padding: 100px 0 150px;
    .notice-container {
      position: relative;
      margin: 0 auto;
    }
    .swiper-container {
      overflow: visible;
      margin: 50px 0;
    }
    .notice-list {
      width: 100%;
      display: flex;
      justify-content: space-between;
      li {
        position: relative;
        overflow: hidden;
        width: calc(33.33% - 10px);
        margin: 0 10px;
        border: 1px solid #a1a1a1;
        border-radius: 20px;
        &:hover {
          // border: 2px solid #0657da;
          // border-radius: 20px;
          img {
            transform: scale(1.1);
          }
        }
        a {
          position: relative;
          display: inline-block;
          img {
            border-radius: 20px 20px 0 0;
            object-fit: cover;
            transition: all 0.5s ease-in;
          }
          .desc {
            position: relative;
            overflow: hidden;
            padding: 20px 40px;
            display: flex;
            flex-direction: column;
            text-align: center;
            color: #777;
            font-size: 20px;
            font-weight: 500;
            span {
              font-weight: 600;
            }
            p {
              font-size: 14px;
              padding-top: 20px;
            }
          }
        }
      }
    }
    .txt {
      display: flex;
      flex-direction: column;
      padding: 20px 120px;
      .main-tit {
        font-size: 60px;
        font-weight: 600;
        // color: #fff;
        line-height: 1.3;
        padding-bottom: 20px;
      }
      .contents-box {
        display: flex;
      }
      .img-box {
        position: relative;
        max-width: 500px;
        height: 100%;
      }
      .cont-tit {
        color: #fff;
        font-size: 28px;
        padding-bottom: 10px;
        font-weight: 500;
      }
      .tit-txt {
        color: #fff;
        font-size: 18px;
        font-weight: 400;
        padding-bottom: 20px;
      }
      .view_btn {
        padding: 20px 0;
      }
      a {
        display: flex;
        color: #fff;
        width: 250px;
        padding: 15px 40px;
        justify-content: flex-start;
        align-items: center;
        border: 1px solid #fff;
        &:before {
          position: absolute;
          content: "";
          display: block;
          padding: 10px 90px;
          background: url(../img/layout/arrow_.png) no-repeat right / 50%;
          filter: invert(100%);
          opacity: 0.8;
        }
        &:hover {
          background: #0047b8;
          color: #fff;
          border: 2px solid #0047b8;
          &:before {
            // filter: invert(100%);
            opacity: 1;
          }
        }
      }
    }
  }
  .section04 {
    font-family: "NanumSquare";
    padding: 100px 0 200px;
    position: relative;
    background: url("../img/main/5-0.png") no-repeat 80% bottom;
    h1 {
      font-weight: 800;
      font-size: 67px;
      line-height: 78px;
      // letter-spacing: 0.03em;
      color: #1a1a1a;
      padding: 0 0 50px;
    }
    .contents {
      position: relative;
      width: 100%;
      .txt-box {
        padding-bottom: 50px;
        .txt {
          font-size: 20px;
        }
      }
    }
  }
  .section05 {
    position: relative;
    padding: 130px 150px;
    text-align: center;
    h5 {
      font-weight: 400;
      font-size: 20px;
      line-height: 1;
      color: #99defe;
    }
    h1 {
      font-family: NanumSquare;
      font-weight: 800;
      font-size: 67px;
      line-height: 78px;
      letter-spacing: 0.03em;
      color: #333;
      padding: 20px 0 60px 0;
    }
    .picture {
      ul {
        display: flex;
        padding-top: 40px;
      }
      li {
        width: 100%;
        cursor: pointer;
        margin-right: 20px;
      }
    }
  }
}
