// section025 -> 모바일03으로 변경해야됨.
@media all and (max-width: 1440px) {
  .container {
    .section02 {
      .tit-box {
        .menu-tit {
          font-size: 45px;
        }
      }
    }
    .section03 {
      .tit-box {
        .menu-tit {
          font-size: 45px;
        }
        .menu-cate {
          padding-left: 60px;
          ul li {
            font-size: 15px;
          }
        }
      }
    }
    .section04 {
      .notice-list {
        .desc {
          padding: 20px;
          font-size: 18px;
        }
      }
    }
    .section06 {
      padding: 130px clamp(50px, 8vw, 150px);
      .picture ul {
        padding: 40px 20px;
      }
    }
  }
}

@media all and (max-width: 1280px) {
  // 여기다가 1280보다 작아졌을때 어떤 css 쓸건지 적용
  .container {
    .view_btn {
      width: 220px;
      a {
        font-size: 15px;
      }
    }
    .section01 {
      .txt-wrap {
        .sub_tit {
          font-size: 16px;
        }
        .main_tit {
          font-size: 50px;
          letter-spacing: -3px;
        }
        .main_cont {
          font-size: 32px;
        }
      }
    }
    .section02 {
      padding: 80px 0 50px;
    }
    .section025,
    .section03 {
      padding: 0 0 50px;
      .tit-box {
        .menu-tit {
          font-size: 42px;
        }
        .menu-cate {
          padding-left: 40px;
          ul li {
            padding: 5px;
            margin-right: 15px;
          }
        }
      }
    }
    .section04 {
      .txt .main-tit {
        font-size: 45px;
      }
      .notice-list {
        .desc {
          padding: 20px 5px;
          font-size: 16px;
        }
      }
    }
    .section05 {
      background: url("../img/main/5-0.png") no-repeat 70% bottom;
      h1 {
        font-size: 45px;
      }
      .contents .txt-box {
        .txt {
          padding: 40px 0 30px;
          font-size: 18px;
        }
      }
      .view_btn {
        padding-top: 30px;
      }
    }
    .section06 {
      .picture ul {
        padding: 40px 0;
      }
    }
  }
}

@media all and (max-width: 1100px) {
  .container {
    .section02,
    .section025 {
      .tit-box {
        .menu-tit {
          text-align: center;
          font-size: 40px;
        }
      }
      .contents-txt {
        .cont-tit {
          font-size: 16px;
        }
        .cont-price {
          font-size: 20px;
        }
        .cont-exp {
          font-size: 13px;
        }
      }
    }
    .section03,
    .section025 {
      // padding: 50px 0;
      &::before {
        display: none;
      }
      .tit-box {
        display: inline-block;
        .menu-cate {
          padding: 0;
          ul {
            padding: 20px 0 0;
          }
        }
        .menu-tit {
          text-align: center;
          font-size: 40px;
        }
        .view_all {
          display: none;
        }
      }
      .contents-txt {
        .cont-tit {
          font-size: 16px;
        }
        .cont-price {
          font-size: 20px;
        }
        .cont-exp {
          font-size: 13px;
        }
      }
      .view_mo {
        position: relative;
        font-size: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        a {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
    .section04 {
      padding: 100px 0;
      .txt .main-tit {
        font-size: 40px;
      }
    }
    .section06 {
      h1 {
        font-size: 55px;
      }
    }
  }
}
@media all and (max-width: 1024px) {
  .container {
    .section01 {
      .txt-wrap {
        top: 25%;
      }
    }
    .section02 {
      .tit-box {
        padding: 30px 0;
      }
    }
    .section03 {
      .swiper-slide {
        .menu-list {
          li {
            width: 50%;
          }
        }
      }
    }
    .section05 {
      h1 {
        font-size: 42px;
      }
      .contents .txt-box {
        .txt {
          padding: 40px 0 30px;
          font-size: 16px;
        }
      }
      .view_btn {
        padding-top: 20px;
      }
    }
  }
}
@media all and (max-width: 989px) {
  .container {
    .view_btn {
      width: 170px;
      a {
        font-size: 13px;
        padding: 12px 25px;
      }
    }
    .section01 {
      .txt-wrap {
        padding: 0 80px;
      }
      .slidebox {
        height: 80vh;
      }
    }
    .section02,
    .section025 {
      .tit-box {
        .menu-tit {
          font-size: 32px;
        }
      }
      .contents-txt {
        .cont-price {
          font-size: 18px;
        }
        .cont-exp {
          font-size: 12px;
        }
      }
    }
    .section025 {
      display: block;
    }
    .section03 {
      display: none;
    }
    .section04 {
      padding: 80px 0;
      .notice-container {
        padding: 0 30px;
      }
      .swiper-container {
        margin: 30px 0;
      }
    }
    .section05 {
      padding: 80px 0 200px;
      background: url("../img/main/n5.png") no-repeat 100% 50% / cover;
      h1 {
        font-size: 40px;
        text-align: center;
      }
      .txt {
        text-align: center;
        font-size: 14px;
      }
      .view_btn {
        padding-top: 10px;
        margin: 0 auto;
      }
    }
    .section06 {
      h1 {
        padding: 10px 0 40px;
        font-size: 48px;
      }
      h5 {
        font-size: 16px;
      }
    }
  }
}

@media all and (max-width: 860px) {
  .container {
    .section025,
    .section03 {
      .tit-box {
        padding: 30px 40px;
        .menu-cate {
          padding: 0;
          ul {
            flex-wrap: wrap;
            justify-content: center;
            li {
              font-size: 14px;
            }
            .view_mo {
              font-size: 14px;
              img {
                width: 22px;
              }
            }
          }
        }
      }
    }
    .section04 {
      padding: 0 0 50px;
      .txt .main-tit {
        padding-bottom: 0;
      }
      // .notice-wrapper {
      //   display: none;
      // }
      .notice-list {
        .desc {
          height: 150px;
          font-size: 16px;
          span {
            font-size: 14px;
            font-weight: 500;
            line-height: 1.8;
          }
        }
      }
      .swiper-container {
        display: block;
        .swiper-wrapper {
          left: -9%;
        }
        .swiper-pagination {
          left: 50%;
          top: auto;
          transform: translateX(-50%);
          bottom: -30px;
          width: 80%;
          height: 2px;
        }
      }
    }
  }
}

@media all and (max-width: 767px) {
  // 여기다가 640px보다 작아졌을때 어떤 css 쓸건지 적용
  .container {
    .view_btn {
      padding-top: 30px;
      width: 150px;
      a {
        padding: 10px 18px;
      }
    }
    .section01 {
      .txt-wrap {
        .sub_tit {
          font-size: 14px;
        }
        .main_tit {
          font-size: 36px;
          letter-spacing: -2px;
        }
        .main_cont {
          font-size: 18px;
        }
      }
    }
    .section05 {
      padding: 50px 0 150px;
      h1 {
        font-size: 36px;
      }
      .contents .txt-box {
        .txt {
          padding: 30px 0;
          font-size: 14px;
        }
      }
      .view_btn {
        height: 50px;
        width: 140px;
        a {
          padding: 10px 20px;
        }
        span {
          font-size: 12px;
        }
      }
    }
    .section06 {
      h1 {
        font-size: 38px;
        padding: 10px 0 20px;
      }
      .picture ul {
        padding: 20px 0;
      }
    }
  }
}
@media all and (max-width: 600px) {
  .container {
    .section025,
    .section03 {
      .tit-box {
        .menu-cate {
          padding: 0;
          ul {
            padding: 0;
            li {
              font-size: 12px;
              margin-right: 10px;
            }
            .view_mo {
              font-size: 12px;
              img {
                width: 20px;
              }
            }
          }
        }
      }
    }
  }
}
@media all and (max-width: 500px) {
  .none {
    display: none;
  }
  .block {
    display: block;
  }
  .container {
    .section05 {
      h1 {
        font-size: 28px;
      }
      .contents .txt-box {
        .txt {
          padding: 20px 0;
          font-size: 14px;
        }
      }
    }
    .section06 {
      h1 {
        font-size: 28px;
        padding: 0 0 20px;
      }
      h5 {
        font-size: 14px;
      }
      .picture ul {
        padding: 0;
        li {
          margin-right: 10px;
        }
      }
    }
  }
}
@media all and (max-width: 430px) {
  .container {
    .section05 {
      .contents .txt-box {
        .txt {
          padding: 20px 0;
          font-size: 12px;
        }
      }
    }
  }
}
