@media all and (max-width: 1680px) {
  #wrap {
    #section02 {
      .cont-txt {
        padding: 20px;
      }
    }
    #section04 {
      .fix .sec-cat {
        width: 40%;
      }
    }
  }
  .interact_txt {
    font-size: 180px;
    left: 70%;
  }
  .product {
    .section01 {
      .main_txt {
        font-size: 40px;
      }
      .txt_wrap {
        .sub_txt {
          padding-right: 0;
          font-size: 18px;
        }
      }
    }
  }
  .brand {
    .section02 {
      height: 700px;
      .brand_tit {
        font-size: 40px;
      }
      .brand_txt {
        font-size: 20px;
      }
    }
    .section03 {
      .txt_box {
        margin-bottom: 30px;
        .since_txt {
          font-size: 33px;
        }
      }
      .cont_box .cont_txt {
        li {
          &:after {
            height: 78%;
          }
          .txt_ch {
            font-size: 100px;
          }
        }
        .txt_meaning .text {
          font-size: 20px;
        }
      }
    }
    .section04 {
      &:after {
        font-size: 220px;
      }
      .sec04_txt {
        font-size: 25px;
      }
    }
    .section05 {
      .global_tit {
        font-size: 34px;
      }
    }
    .section06 {
      .contents_box {
        .global_tit {
          font-size: 38px;
        }
        .global_txt {
          font-size: 18px;
        }
        .as_cont ul li {
          span {
            font-size: 16px;
          }
        }
      }
    }
    .section07 {
      .txt_tit {
        font-size: 30px;
      }
      .bath_img {
        &:after,
        &:before {
          font-size: 200px;
        }
      }
    }
  }
}
@media all and (max-width: 1440px) {
  #wrap {
    #section03 {
      .contents-wrap .cont-txt .line_wrap li {
        width: 16%;
        &:before {
          padding: 0;
          height: 220px;
          width: 180px;
          bottom: -70px;
        }
        .main_tit {
          font-size: 14px;
        }
      }
    }
    #section05 {
      .txt_ban {
        font-size: 180px;
      }
    }
    #section06 {
      .slidebx .media_list li {
        .main_tit {
          // display: block;
          font-size: 24px;
        }
      }
    }
  }
  .product {
    .section01 {
      .main_txt {
        font-size: 30px;
      }
      .txt_wrap {
        padding-bottom: 60px;
        .sub_txt {
          font-size: 16px;
        }
      }
    }
  }
  .brand {
    .section02 {
      height: 650px;
      .brand_tit {
        margin-bottom: 15px;
      }
    }
    .section03 {
      .txt_box {
        .since_txt {
          font-size: 30px;
        }
      }
      .cont_box .cont_txt {
        ul {
          gap: 115px;
        }
        li {
          .txt_ch {
            font-size: 82px;
          }
        }
        .txt_meaning {
          .txt_ko {
            height: 31px;
            line-height: 31px;
            font-size: 13px;
            margin-top: -1px;
            margin-bottom: 7px;
          }
          .text {
            font-size: 18px;
          }
        }
      }
    }
    .section04 {
      .sec04_txt {
        font-size: 22px;
      }
    }
    .section05 {
      .global_tit {
        font-size: 31px;
      }
      .global_txt {
        font-size: 18px;
      }
    }
    .section06 {
      .contents_box {
        .global_tit {
          font-size: 33px;
        }
        .global_txt {
          font-size: 16px;
        }
        .as_cont ul li {
          span {
            font-size: 14px;
          }
        }
      }
    }
    .section07 {
      margin-top: 30px;
      .txt_wrap {
        padding-bottom: 8px;
        .txt_tit {
          font-size: 25px;
        }
      }
      .bath_img {
        .bath01 {
          width: 50%;
        }
        .bath03 {
          right: 20px;
          top: 160px;
          width: 21%;
        }
        .bath04 {
          right: 172px;
          top: 400px;
        }
      }
    }
  }
}
@media all and (max-width: 1280px) {
  // 여기다가 1280보다 작아졌을때 어떤 css 쓸건지 적용
  #wrap {
    #section01 {
      .swiper-slide .slide-contents {
        top: 35%;
      }
      .txt-wrap {
        .main_tit {
          margin: 10px 0 28px;
          font-size: clamp(34px, 4vw, 50px);
        }
        .main_cont {
          font-size: 15px;
        }
      }
      .slide-nav {
        bottom: 45px;
        li {
          width: 340px;
          .main_tit {
            font-size: clamp(12px, 1.2vw, 16px);
          }
        }
      }
    }
    #section02,
    .section045,
    #section05,
    #section06 {
      .txt_cont {
        .main_tit {
          font-size: clamp(33px, 4vw, 48px);
          margin: clamp(15px, 3vw, 47px) 0 10px;
        }
        .desc {
          font-size: 15px;
        }
      }
    }
    #section03 {
      .txt_cont {
        .main_tit {
          font-size: clamp(33px, 4vw, 48px);
          margin: clamp(15px, 3vw, 47px) 0 10px;
        }
      }
    }
  }
  .brand {
    .section02 {
      height: 550px;
      .brand_tit {
        font-size: 34px;
      }
      .brand_txt {
        font-size: 16px;
      }
    }
    .section03 {
      .txt_box {
        margin-bottom: 18px;
        .since_txt {
          font-size: 25px;
        }
        .since_ch {
          font-size: 13px;
        }
      }
      .cont_box .cont_txt {
        li {
          &:after {
            top: 19%;
          }
          .txt_ch {
            font-size: 70px;
          }
        }
        .txt_meaning {
          .text {
            font-size: 16px;
          }
        }
      }
    }
    .section04 {
      &:after {
        font-size: 170px;
      }
      .sec04_txt {
        font-size: 20px;
      }
    }
    .section05 {
      .global_tit {
        font-size: 26px;
      }
      .global_txt {
        font-size: 16px;
      }
    }
    .section06 {
      .contents_box {
        .global_tit {
          font-size: 28px;
        }
        .global_txt {
          font-size: 15px;
          margin-top: 11px;
          margin-bottom: 50px;
        }
        .as_cont ul li {
          span {
            bottom: 20px;
            font-size: 13px;
          }
        }
      }
    }
    .section07 {
      margin-top: 75px;
      .txt_wrap {
        padding-bottom: 0;
        .txt_tit {
          font-size: 21px;
        }
      }
      .bath_img {
        &:after,
        &:before {
          font-size: 150px;
        }
        .bath01 {
          width: 40%;
        }
        .bath02 {
          width: 13.35%;
          top: 100px;
        }
        .bath03 {
          width: 21.58%;
          right: 57px;
          top: 77px;
        }
        .bath04 {
          width: 13.35%;
          right: 200px;
          top: 60px;
        }
        .bath05 {
          width: 24.89%;
          left: 100px;
          bottom: 20px;
        }
      }
    }
  }
}
@media all and (max-width: 1100px) {
  #wrap {
    #section01 {
      .slide-nav {
        li {
          margin-right: 20px;
          width: 300px;
        }
        li:not(.on) {
          width: 50px;
          span {
            display: none;
          }
        }
      }
    }
    #section03 {
      .contents-wrap .cont-txt .line_wrap li {
        &:before {
          width: 150px;
        }
      }
    }
    #section06 {
      .slidebx .media_list li {
        height: 450px;
        width: 30%;
        // padding: 25.8%;
        // height: 0;
        .main_tit {
          display: block;
          font-size: 18px;
          margin: 0;
        }
        &.on .main_tit {
          font-size: 24px;
        }
      }
    }
  }
}
@media all and (max-width: 1024px) {
  #wrap {
    #section02 {
      padding: 80px 0 100px;
      .cont-img {
        > li {
          width: 23.73%;
        }
        .cont-txt {
          padding: 20px 23px 30px;
        }
      }
    }
  }
}

@media all and (max-width: 989px) {
  // .contents-box {
  //   padding: clamp(30px, 100/980 * 100vw, 100px) 0;
  //   .banner {
  //     margin-top: clamp(30px, 100/980 * 100vw, 100px);
  //   }
  // }
  .dis-900 {
    display: none !important;
  }
  .dis-no.vis-900 {
    display: block !important;
  }
  #wrap {
    #section01 {
      .slide-nav {
        li .sub_tit {
          font-size: 12px;
        }
      }
    }
    #section02 {
      padding: 131px 0 74px;
      .page.bath-slide {
        padding-left: 0;
        width: 100%;
      }
      .swiper-button-prev {
        width: 20px;
        height: 32px;
        top: 50%;
        left: 35px;
        transform: translateY(-50%);
        background: url("../images/main/slide_prev_w.png") no-repeat center;
        &:after {
          content: none;
        }
      }
      .swiper-button-next {
        width: 20px;
        height: 32px;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        background: url("../images/main/slide_next_w.png") no-repeat center;
        &:after {
          content: none;
        }
      }
      .contents-wrap {
        padding-left: 17px;
        margin-top: 24px;
        overflow: hidden;
      }
      .cont-img {
        overflow: visible;
        .swiper-slide-active .cont-txt .bot_txt {
          opacity: 1;
        }
        & > li {
          margin-right: 0;
          &:hover {
            transform: none;
            box-shadow: none;
            .top_txt {
              font-size: 14px;
            }
          }
        }
      }
      .cont-txt {
        .top_txt {
          font-size: 14px;
          &::before {
            opacity: 1;
          }
        }
        .bot_txt {
          font-size: 20px;
          bottom: auto;
          top: 44px;
        }
      }
    }
    #section03 {
      .txt_cont .main_tit {
        margin: 27px 0 29px;
      }
      .m_slide .btn-box .btn-view {
        height: 47px;
        line-height: 45px;
        width: 150px;
        // &:hover .btn-title {
        // }
        .btn-title {
          background: {
            position: 88%;
          }
          font-size: 12px;
          letter-spacing: 0.85px;
          line-height: 45px;
        }
      }
    }
    .m_section04 {
      .page {
        .smlet_ul {
          width: 60%;
          li {
            width: 50%;
            a > img {
              border-radius: 30px;
            }
          }
        }
        .smlet_box {
          padding-left: 10px;
          position: relative;
          display: flex;
          flex-direction: column;
        }
        .main_tit {
          padding: 9px 0 12px;
          font-size: 17px;
          font-weight: 600;
        }
        .smlet_hash ul {
          padding-bottom: 20px;
          li {
            text-align: center;
            font-size: 10px;
            padding: 0 8px;
            height: 25px;
            line-height: 23px;
            width: 100%;
            // margin-bottom: 0;
            white-space: nowrap;
            overflow: hidden;
          }
        }
      }
    }
    #section05 {
      padding-top: 30px;
      .txt {
        margin-bottom: 30px;
      }
      .txt_ban {
        font-size: 130px;
        letter-spacing: -5px;
      }
      .sec_tit .btn-view {
        width: 180px;
        height: 47px;
        line-height: 45px;
        // width: 150px;
        background: #326aff;
        .btn-title {
          background: {
            image: url("../images/main/more_plus.png");
            repeat: no-repeat;
            position: 88%;
            size: 12px;
          }
          padding: 0 25px;
          font-size: 12px;
          letter-spacing: 0.85px;
          line-height: 45px;
          color: #fff;
        }
      }
      .m_section05 {
        .btn-box .btn-view {
          height: 47px;
          line-height: 45px;
          width: 150px;
          &:hover .btn-title {
            background: {
              position: 90%;
            }
          }
          .btn-title {
            background: {
              position: 88%;
            }
            padding: 0 25px;
            font-size: 12px;
            letter-spacing: 0.85px;
            line-height: 45px;
          }
        }
      }
    }
  }
  .interact_txt {
    font-size: 100px;
    bottom: -10px;
    letter-spacing: -10px;
  }
  .introduce {
    padding-top: 50px;
  }
  .product {
    .section01 {
      .txt_wrap {
        .d_idx {
          font-size: 13px;
          padding-left: 100px;
          &:before {
            left: 13px;
            width: 70px;
          }
        }
        .main_txt {
          font-size: 30px;
          letter-spacing: -1.6px;
        }
        .sub_txt {
          font-size: 15px;
          letter-spacing: -0.57px;
        }
      }
    }
  }
  .brand {
    .section02 {
      height: 450px;
      .brand_tit {
        font-size: 25px;
      }
      .brand_txt {
        font-size: 14px;
        font-weight: 300;
      }
    }
    .section03 {
      .txt_box {
        margin-bottom: 10px;
        .since_txt {
          font-size: 22px;
        }
      }
      .cont_box .cont_txt {
        ul {
          gap: 99px;
        }
        li {
          &:after {
            right: -48px;
          }
          .txt_ch {
            font-size: 50px;
          }
        }
        .txt_meaning {
          .txt_ko {
            height: 25px;
            line-height: 25px;
            font-size: 13px;
            margin-top: 3px;
            margin-bottom: 7px;
          }
          .text {
            font-size: 14px;
          }
        }
      }
    }
    .section04 {
      &:after {
        font-size: 155px;
      }
      .sec04_txt {
        font-size: 18px;
      }
    }
    .section05 {
      .global_tit {
        font-size: 22px;
        margin-bottom: 14px;
      }
      .global_txt {
        font-size: 14px;
      }
    }
    .section06 {
      .contents_box {
        flex-direction: column;
        align-items: center;
        .as_cont ul li {
          position: relative;
          max-width: 195px;
          span {
            font-size: 13px;
            bottom: 35px;
          }
        }
      }
    }
    .section07 {
      margin-top: 500px;
      .bath_img {
        &:after,
        &:before {
          font-size: 120px;
        }
      }
    }
  }
}
@media all and (max-width: 860px) {
  #wrap {
    #section03 {
      .txt_wrap > span.main_cont br {
        display: none;
      }
      .m_slide {
        ul {
          max-width: 360px;
          width: 100%;
          margin: 0 auto;
          li {
            padding: 0;
            margin-bottom: 9px;
            font-size: 14px;
            width: 130px !important;
          }
        }
        .txt_wrap .main_cont {
          font-size: 13px;
          padding: 0 20px;
        }
      }
    }
  }
  .brand {
    .section04 {
      &:after {
        font-size: 130px;
      }
    }
  }
}
@media all and (max-width: 767px) {
  // 여기다가 640px보다 작아졌을때 어떤 css 쓸건지 적용
  .dis-700 {
    display: none !important;
  }
  .dis-no.vis-700 {
    display: block !important;
  }
  #wrap {
    #section02,
    #section03,
    .section045,
    #section05,
    #section06 {
      .sub_tit {
        font-size: 12px;
      }
    }
    #section01 {
      .swiper-slide > img {
        width: 101%;
      }
      .txt-wrap {
        .main_tit {
          line-height: 1.2;
          letter-spacing: -2.08px;
        }
        // .sub_tit {
        //   font-size: 12px;
        // }
      }
      .slide-nav {
        li {
          margin-right: 10px;
          width: 205px;
        }
        li:not(.on) {
          width: 25px;
          span {
            display: none;
          }
        }
      }
    }
    #section02 {
      .page {
        padding: 0 15px;
      }
      .page.bath-slide {
        padding: 0;
      }
    }
    .m_section04 {
      .mobg-top {
        max-width: 400px;
        .desc {
          font-size: 15px;
        }
      }
      .page {
        padding: 0 15px;
        justify-content: flex-start;
        .smlet_ul {
          width: auto;
          > li {
            display: flex;
            width: 100%;
            margin-bottom: 10px;
            padding: 0;
            a {
              width: 26.25%;
              img {
                border-radius: 10px;
              }
            }
            .main_tit {
              font-size: 17px;
              padding: 9px 0 12px;
            }
          }
        }
        .smlet_box {
          width: 73.75%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding-left: 15px;
        }
        .smlet_hash ul {
          padding-bottom: 10px;
        }
      }
    }
    #section05 {
      .txt_ban {
        font-size: 90px;
      }
    }
    #section06 {
      .txt_cont {
        text-align: left;
        padding-left: 15px;
      }
      .page {
        padding-left: 0;
        padding-right: 0;
        > div {
          overflow: hidden;
        }
      }
      .slidebx .media_list li {
        padding: 25.8%;
        height: 0;
        .sub_tit {
          font-size: 10px;
        }
        .main_tit {
          font-size: 14px;
        }
      }
    }
  }
  .interact_txt {
    display: none;
  }
  .product {
    .section01 {
      .txt_wrap {
        word-break: keep-all;
        padding-bottom: 34px;
        .main_txt {
          padding: 22px 0 10px;
          font-size: 24px;
        }
      }
    }
  }
  .brand {
    .section02 {
      height: 350px;
      .brand_tit {
        margin-bottom: 10px;
        font-size: 21px;
      }
    }
    .section03 {
      .txt_box {
        .since {
          font-size: 13px;
        }
        .since_txt {
          font-size: 18px;
        }
        .since_ch {
          font-size: 10px;
        }
      }
      .cont_box .cont_txt {
        ul {
          gap: 68px;
        }
        li {
          &:after {
            right: -35px;
          }
          .txt_ch {
            font-size: 30px;
          }
        }
        .txt_meaning {
          .txt_ko {
            height: 20px;
            line-height: 20px;
            margin-top: 7px;
            margin-bottom: 7px;
            width: 61px;
          }
          .text {
            font-size: 13px;
          }
        }
      }
    }
    .section04 {
      position: relative;
      padding: 95px 0 60px;
      &:after {
        display: none;
      }
      &:before {
        height: 33px;
      }
      .sec04_txt {
        font-size: 14px;
      }
    }
    .section05 {
      .global_tit {
        font-size: 20px;
      }
      .global_txt {
        font-size: 14px;
        line-height: 1.4;
        font-weight: 300;
      }
    }
    .section06 {
      padding: 60px 0 217px;
      .contents_box {
        .global_txt {
          font-size: 14px;
          margin-top: 11px;
          margin-bottom: 26px;
          line-height: 1.4;
        }
        .as_cont ul {
          li span {
            bottom: 21px;
          }
        }
      }
    }
  }
  .introduce .m_section07 {
    margin-top: 95%;
    .tit_txt .d_idx {
      padding-left: 105px;
      &:before {
        width: 85px;
        top: 13px;
        transform: none;
        left: 10px;
      }
    }
    .txt_tit {
      font-size: 16px;
      letter-spacing: -0.32px;
      color: #fff;
    }
  }
}
@media all and (max-width: 600px) {
  .brand {
    .section03 {
      .cont_box .cont_txt {
        li {
          .txt_ch {
            font-size: 23px;
          }
        }
        .txt_meaning {
          .text {
            line-height: 1.3;
            font-weight: 300;
          }
        }
      }
    }
    .section04 {
      position: relative;
      padding: 74px 0 60px;
      .sec04_txt {
        left: 18%;
      }
    }
    .section05 {
      .since {
        font-size: 13px;
      }
    }
    .section06 {
      padding: 40px 0 217px;
      .since {
        font-size: 13px;
      }
      .contents_box {
        .global_tit {
          font-size: 21px;
        }
        .global_txt {
          font-size: 14px;
          margin-bottom: 16px;
        }
        .as_cont ul {
          li span {
            font-size: 12px;
          }
        }
      }
    }
  }
}
@media all and (max-width: 500px) {
  #wrap {
    #section05 {
      .txt_ban {
        font-size: 50px;
        letter-spacing: -2px;
      }
    }
  }
  .brand {
    .section03 {
      .cont_box .cont_txt {
        ul {
          gap: 68px;
        }
        li {
          &:after {
            right: -20px;
          }
          .txt_ch {
            font-size: 23px;
          }
        }
        .txt_meaning {
          .txt_ko {
            font-weight: 300;
            font-size: 12px;
          }
          .text {
            font-size: 12px;
            font-weight: 300;
          }
        }
      }
    }
    .section06 {
      height: 900px;
      .contents_box {
        .as_cont ul {
          flex-direction: column;
          align-items: center;
          li span {
            bottom: auto;
            top: 110px;
          }
        }
      }
    }
  }
}
@media all and (max-width: 430px) {
  #wrap {
    #section02 {
      .contents-wrap {
        padding-left: 0;
      }
      .cont-img > li {
        padding: 0 15px;
        a {
          overflow: hidden;
          border-radius: 25px;
        }
      }
    }
  }
  .brand {
    .section03 {
      .cont_box .cont_txt {
        ul {
          gap: 50px;
        }
        li &:after {
          right: -25px;
        }
      }
    }
  }
}
