@import "vars";
.header_top {
  border-top: 1px solid rgba(13, 13, 13, 0.05);
}
.gap {
  position: relative;
  padding: 0 15px;
}
.introduce {
  padding: 100px 0 0;
  .txt_wrap {
    text-align: center;
    position: relative;
    .txt_tit {
      font-size: 52px;
      letter-spacing: -2.6px;
      color: #000;
      line-height: 1.35;
      padding: 22px 0 38px;
    }
  }
  .section07 {
    padding-bottom: 279px;
    text-align: center;
  }
  .m_section07 {
    background: {
      image: url("../images/brand/about_mo05.png");
      repeat: no-repeat;
      position: center;
      size: 100%;
    }
    margin-top: 20px;
    padding: 85px 0 50px;
    .txt_wrap {
      padding-top: 74px;
      padding-bottom: 119px;
    }
    .bath_img {
      position: relative;
      .m_bath01 {
        position: absolute;
        top: -39px;
        left: 132px;
        z-index: 3;
        width: 107px;
      }
      .m_bath02 {
        width: 173px;
      }
      &.bot {
        text-align: right;
        padding-right: 44px;
        .m_bath03 {
          width: 107px;
          position: absolute;
          bottom: 113px;
          right: 0;
          z-index: 3;
        }
        .m_bath04 {
          width: 199px;
        }
      }
    }
    .tit_txt {
      .d_idx {
        position: relative;
        font-size: 15px;
        font-weight: 300;
        color: #fff;
        display: inline-block;
        padding-left: 168px;
        &:before {
          position: absolute;
          content: "";
          height: 1px;
          width: 128px;
          left: 20px;
          top: 50%;
          transform: translateY(-50%);
          background-color: #fff;
        }
      }
    }
    .txt_main {
      padding-bottom: 0;
    }
  }
}
.product {
  .section01 {
    position: relative;
    z-index: 99;
    overflow: hidden;
    .txt_wrap {
      padding-bottom: 94px;
      text-align: left;
      transition: all 1.5s cubic-bezier(0, 0.72, 0.44, 0.99);
      .main_txt {
        line-height: 1.3;
        transition: all 1.5s cubic-bezier(0, 0.72, 0.44, 0.99);
      }
      .sub_txt {
        font-size: 22px;
        display: inline-block;
        transition: all 1.5s cubic-bezier(0, 0.72, 0.44, 0.99);
        // transition-delay: 0.6s;
      }
      .d_idx {
        position: relative;
        font-size: 15px;
        font-weight: 300;
        color: rgb(11, 11, 11);
        display: inline-block;
        padding-left: 168px;
        &:before {
          position: absolute;
          content: "";
          height: 1px;
          width: 128px;
          left: 20px;
          top: 50%;
          transform: translateY(-50%);
          background-color: rgba(13, 13, 13, 0.5);
        }
      }
    }
  }
}
.sub_page {
  position: relative;
  max-width: 1594px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.main_txt {
  font-size: 57px;
  font-weight: 500;
  letter-spacing: -3.6px;
  color: rgb(11, 11, 11);
  line-height: 1;
  padding: 22px 0 33px;
}
.interact_txt {
  position: absolute;
  bottom: -22px;
  right: 0;
  font-size: 220px;
  letter-spacing: -13.38px;
  color: rgba(231, 233, 235, 0.6);
  line-height: 1;
  white-space: nowrap;
  opacity: 0;
}
.interact_txt.img-aniload {
  opacity: 1;
}
.brand {
  .txt_box {
    margin-bottom: 60px;
    .since {
      color: rgba(0, 0, 0, 0.7);
      font-size: 14px;
    }
    .since_ch {
      color: #787878;
      font-size: 20px;
      vertical-align: super;
    }
    .since_txt {
      font-size: 36px;
      font-weight: 500;
      color: #000;
      letter-spacing: -1.8px;
    }
  }
  .section02 {
    position: relative;
    height: 750px;
    background: {
      image: url("../images/brand/about_bg.png");
      repeat: no-repeat;
      position: center;
    }
    .since {
      color: rgba(0, 0, 0, 0.7);
    }
    .sub_page {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      max-width: 1484px;
    }
    .brand_tit {
      font-size: 55px;
      font-weight: 500;
      margin-bottom: 29px;
      color: #fff;
      letter-spacing: -1.5px;
      font-family: "Noto Sans KR";
    }
    .brand_txt {
      font-size: 22px;
      color: #fff;
      letter-spacing: -1.1px;
      line-height: 1.77;
    }
  }
  .section03 {
    text-align: center;
    margin-top: 127px;
    .txt_box {
      margin-bottom: 60px;
      .since {
        color: rgba(0, 0, 0, 0.7);
        font-size: 14px;
      }
      .since_ch {
        color: #787878;
        font-size: 20px;
        vertical-align: super;
      }
      .since_txt {
        font-size: 36px;
        font-weight: 500;
        color: #000;
        letter-spacing: -1.8px;
      }
    }
    .cont_box {
      display: flex;
      align-items: center;
      .cont_img {
        position: relative;
      }
      .cont_txt {
        position: absolute;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-top: -3%;
        flex-wrap: nowrap;
        ul {
          display: flex;
          justify-content: center;
          gap: 130px;
          flex-wrap: nowrap;
        }
        li {
          position: relative;
          &:after {
            position: absolute;
            content: "";
            display: block;
            width: 1px;
            height: 136px;
            right: -65px;
            top: 53px;
            height: 82%;
            background-color: rgba(32, 157, 203, 0.2);
          }
          &:last-child:after {
            display: none;
          }
        }
        .txt_ch {
          font-size: 136px;
          font-weight: 300;
          color: #fff;
        }
        .txt_meaning {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .txt_ko {
            background-color: #326aff;
            width: 72px;
            height: 35px;
            border-radius: 17px;
            text-align: center;
            color: #fff;
            font-size: 14px;
            font-weight: 500;
            margin-top: 10px;
            margin-bottom: 15px;
            line-height: 35px;
          }
          .text {
            font-size: 22px;
            font-weight: 500;
            color: #fff;
          }
        }
      }
    }
  }
  .section04 {
    position: relative;
    padding: 116px 0;
    &:before {
      position: absolute;
      content: "";
      display: block;
      left: 50%;
      top: 33px;
      width: 1px;
      height: 49px;
      background-color: rgba(13, 13, 13, 0.2);
    }
    .sec04_cont {
      position: relative;
      text-align: center;
      img {
        max-width: 454px;
        width: 100%;
      }
    }
    .sec04_txt {
      font-size: 30px;
      font-weight: 500;
      color: #000;
      text-align: left;
      position: absolute;
      left: 50%;
      bottom: 13%;
      line-height: 1.6;
    }
    &:after {
      position: absolute;
      content: "DAELIMBATH";
      font-size: 267.5px;
      line-height: 1px;
      letter-spacing: -13.38px;
      color: rgba(0, 0, 0, 0.05);
      display: inline-block;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: -5;
      transition: 0.8s;
    }
  }
  .section05 {
    background: {
      image: url("../images/brand/about_bg03.png");
      repeat: no-repeat;
      position: center;
    }
    .since {
      font-size: 14px;
      color: rgba(255, 255, 255, 0.7);
    }
    .global_tit {
      font-size: 36px;
      color: #fff;
      font-weight: 500;
      line-height: 1.3;
      margin-top: 5px;
      margin-bottom: 20px;
      font-weight: bold;
    }
    .global_txt {
      font-size: 20px;
      color: #fff;
    }
  }
  .section06 {
    background: none;
    padding: 122px 0 217px;
    .sub_page {
      display: block;
      max-width: 1594px;
    }
    .contents_box {
      text-align: left;
      display: flex;
      align-items: end;
      gap: 68px;
      flex-wrap: nowrap;
      .global_tit {
        color: #000;
        font-size: 41px;
        font-weight: 600;
        letter-spacing: -0.41px;
        line-height: 1.3;
      }
      .global_txt {
        font-size: 20px;
        color: rgba(0, 0, 0, 0.8);
        margin-top: 15px;
        margin-bottom: 60px;
        word-break: keep-all;
      }
      .as_cont ul {
        display: flex;
        gap: 13px;
        li {
          position: relative;
          max-width: 220px;
          span {
            text-align: center;
            color: #000;
            font-size: 15px;
            display: block;
            position: absolute;
            width: 100%;
            bottom: 32px;
            line-height: 1.3;
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }
    }

    .txt_wrap {
      padding-bottom: 60px;
      text-align: center;
      position: relative;
    }
  }
  .section07 {
    padding-top: 0;
    overflow: hidden;
    .sub_page {
      max-width: 1603px;
      position: relative;
    }
    .txt_wrap {
      padding-bottom: 30px;
      font-size: 36px;
      font-weight: 500;
      .txt_tit {
        font-size: 36px;
        font-weight: 500;
      }
    }
    .bath_img {
      position: relative;
      &.move {
        &:before {
          left: 0;
        }
        &:after {
          right: 0;
        }
      }
      &:before {
        position: absolute;
        content: "BATH";
        left: -10%;
        font-size: 267.5px;
        line-height: 1px;
        display: inline-block;
        letter-spacing: -13.38px;
        color: rgba(0, 0, 0, 0.05);
        top: 145px;
        z-index: -5;
        transition: 0.8s;
      }
      .img_ab {
        position: absolute;
      }
      .bath02 {
        // width: 13.35%;
        left: 61px;
        top: 278px;
      }
      .bath03 {
        // width: 21.58%;
        right: 57px;
        top: 77px;
      }
      .bath04 {
        // width: 13.35%;
        right: 322px;
        top: 290px;
      }
      .bath05 {
        // width: 24.89%;
        left: 203px;
        bottom: -96px;
      }
      &:after {
        position: absolute;
        content: "ROOM";
        right: -10%;
        font-size: 267.5px;
        line-height: 1px;
        display: inline-block;
        letter-spacing: -13.38px;
        color: rgba(0, 0, 0, 0.05);
        transition: 0.8s;
        z-index: -5;
        bottom: 36px;
      }
    }
  }
}
.m_section07 {
  .inner_page {
    max-width: 390px;
    margin: 0 auto;
    padding: 0 15px;
  }
}
